/* Footer Container */
.footer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #F1F1F1;
    font-family: "Nunito", sans-serif;
    align-items: center;
    width: 94% !important;
    margin-left: 3%;
  }
  
  /* Image Section */
  .footer-image-section {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .footer-image {
    height: 250px;
    width: 100%;
    background-image: url("../assests//images/Footer.png");
    background-size: cover;
    background-position: center;
  }
  
  /* Contact Section */
  .footer-contact-section {
    text-align: center;
    background-color: #050505CC;
    padding: 20px;
    width: 97.1%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  
  .footer-contact-text {
    font-size: 1rem;
  }
  
  /* Disclaimer Section */
  .footer-disclaimer-section {
    width: 80%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 1rem;
  }
  
  .footer-disclaimer-text {
    font-size: 13px !important;
    line-height: 1.5;
    color: #00243C !important;
    font-weight: 400 !important;
    font-family: 'Rounded Mplus 1c' !important;
    line-height: 17.82px !important;
    width: 962px    !important;
    margin-left: 8% !important;
  }
  

  .contact-us-text{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700 !important;
    font-size: 20px !important;
  }

  .contact-us-details{
    font-family: 'Rounded Mplus 1c' !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  color:#F1F1F1 !important;
  }

  .license-text{
    margin-left: -80% !important;
    color: #868686 !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    margin-bottom: 1.5% !important;
    font-family: 'Rounded Mplus 1c' !important;

  }