@import "@font/nunito";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--fontFamily-nunito) !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Reset margin and padding for the entire document */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  background-color: #ffffff !important; /* Optional background color */
  overflow-x: hidden !important; /* Prevent horizontal scrolling */
  overflow-y: auto !important; 
}
